* {
    background-color: #042423;
    color: #bcf5f4;
    font-family: sans-serif;   
}

h2 {
    font-family: Quicksand;
}

.name {
    font-family: Sofia;
    font-size: 60px;
    text-align: center;
    margin: 1em;
    text-shadow: 0px 0px 3px black;
}

.crochet {
    font-weight: bolder;
}

.mind {
    padding-left: 20px;
}

.photo {
    border-radius: 50%;
    width: 150px;
    float:left;
    margin:1em;
    padding: 5px;
    background-color: black;
    border-style: dotted;
}

div.habilities li:nth-of-type(odd){
    color: rgb(0, 255, 242);
}

div.margin {
    margin: 10%;
    margin-bottom: 5em;
}

a {
    color: #bcf5f4;
}